
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f5fc;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}


form {
    background: #ffffff;
    border: 2px solid #b0d6ac;
    border-radius: 20px;
    padding: 20px 30px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


h3 {
    text-align: center;
    padding: 10px;
    width: 300px;
    color: #333;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}


input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 6px;
}


button {
    background-color: #b0d6ac;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}


button:hover {
    background-color: #9ec99b;
}


form + form button {
    background-color: #b0d6ac; 
}

form + form button:hover {
    background-color: #5d666e;
}


