
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f4f8;
}

.formulario_usuario {
   background: #fff;
   padding: 20px 30px;
   border-radius: 20px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
   width: 450px;
   text-align: center;

}

/*titulo*/
h2 {
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botón */
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #4e7a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #aa5a93;
}


